# Firebase 配置 (Firestore + Storage)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# 高德地图 API
VITE_AMAP_KEY=

# Cloudflare Workers API 地址
VITE_WORKER_API=https://tongzhuo-api.ashleymashmesh.workers.dev
